body{
  text-align: center;
  background-color: #1abc9c;
  margin: 0px;
}
header{
  background-color: crimson;
  display: inline-block;
  width: 100%;
}
footer{
  background-color: white;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
footer p {
  margin:0;
}
.board {
  display: table;
  width: 21em;
  height: 21em;
  margin-left: auto;
  margin-right: auto;
}
.row {
  display: table-row;
}
.box {
  display: table-cell;
  height: 33%;
  width: 33%;
  text-align: center;
  vertical-align: middle;
}
.box p {
  font-size: 76px;
  font-family: cursive;
  margin: 0;
  padding: 0;
}
body > p {
  margin-left: 10px;
  margin-right: 10px;
}
#a1, #a7 {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
#a3, #a5 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
#a4 {
  border: 2px solid black;
}
.box img {
  width: 6em;
  height: 6em;
}
body > img {
  width: 400px;
}
